/* By default, content takes full width */
.page-content {
  padding: 20px;
  margin-top: 0px;
  transition: margin-left 0.3s ease;
}

/* When menu is open, push content right */
body.sidenav-open .page-content {
  margin-left: 220px; /* Same as sidebar width */
}
body.sidenav-open .top-banner {
  margin-left: 220px;
}


  @import "tailwindcss";
  